include index

h2.text-center.my-3="Top 20 films with actors"
table.table.table-striped.table-bordered
    thead
        tr
            th.header(scope="col")="№"
            th.header(scope="col")="Films"
            th.header(scope="col")="Actor's names"
    tdata
        for movie in movies
            tr
                td.num=movies[movie][0]["movie_id"]
                td=movie
                if lengths[movie] > 1
                    td
                        table#inner_table
                            for director_movie in movies[movie]
                                tr
                                    td.inner_td=director_movie["full_name"]
                else
                    td=movies[movie][0]["full_name"]