include index

h2.text-center.my-3="Top 20 films with directors"
table.table.table-striped.table-bordered
    thead
        tr
            th.header(scope="col")='№'
            th.header(scope="col")="Film name"
            th.header(scope="col")="Director's name"
    tdata
        for movie in movies
            tr
                td.num.align-middle=movies[movie][0]["movie_id"]
                td.align-middle=movie
                if lengths[movie] > 1
                    td
                        table
                            for director_movie in movies[movie]
                                tr
                                    td.inner_td=director_movie["full_name"]
                else
                    td=movies[movie][0]["full_name"]



