include index

table.data-table
    thead
        tr
            th(scope="col")='№'
            th(scope="col")="Director's name"
            th(scope="col")="Film id"
    tdata
        for actor in directors
            tr
                td=actor["director_id"]
                td=actor["full_name"]
                td=actor["movie_id"]

