include index

table.data-table
    thead
        tr
            th(scope="col")='№'
            th(scope="col")="Director's name"
            th(scope="col")="Film name"
    tdata
        for director in directors
            tr
                td=director["director_id"]
                td=director["full_name"]
                td=director["title"]

