include index

h2.text-center.my-3="Dynamic query"

.input-group
      input.form-control.mx-2.my-2#genre(type='text' name="genre" placeholder="Enter the genre" autocomplete="off")
      .input-group-append
        button.mx-2.my-2.btn.btn-outline-secondary#filter(href="#", type='submit') Find

table.table.table-striped.table-bordered
    thead
        tr
            th.header(scope="col")='№'
            th.header(scope="col")='Title'
            th.header(scope="col")='Year'
            th.header(scope="col")='Genre'
            th.header(scope="col")='Rating'
            th.header(scope="col")='Votes'
    tbody#result_table
        for movie in movies
            tr
                td.num=movie["movie_id"]
                td=movie["title"]
                td.num=movie["year"]
                td=movie["genre"]
                td.num=movie["rating"]
                td.num=movie["votes"]
